@media (min-width: 370px) {
  .container{
    width: 105%;

  }

}
@media (min-width: 350px) {
  .container{
    width: 107%;

  }
  body{
    /*width: 106%;*/
    min-width: 93%;
    /*max-width: 90%;*/
  }
  }
@media (min-width: 768px) {
  body{
    width: 110%;
  }
   .container{
    width: 100%;

  }
  }
@media (min-width: 992px){
  body{
    width: 100%;
    height: 100%;
  }
  
}
@media (min-width: 1200px){
  body{
    width: 100%;
    height: 100%;
  }
}
/*
html, body {
    max-width: 100%;
    overflow-x: hidden;
    /*overflow-y: hidden;*/
}*/
