.yourDivClassThatContainsText {
  position: relative;
 /* width: 300px;
  height: 200px;*/
  /*z-index: 15;
  top: 50%;
  left: 50%;*/
  /*margin: -100px 0 0 -150px;*/
  /*background: red;*/
}
 .btn-outline-primary {
            text-align: center;
            border: 1px solid coral;
            height: -5vh;
            width: 5vw;
            color:red;
        }
#button{
  text-align: center;
}
:root {
  /* Change this to change the appearance of the hexaons */
  --hex-width: 180px; 
  --hex-between: 40px;
  
  /* Other hexagon dimentions */
  --hex-height: calc(var(--hex-width) / 1.73 /* sqrt(3) */);
  --hex-margin: calc(var(--hex-width) / 2);
  --hex-border: calc(var(--hex-margin) / 1.73 /* sqrt(3) */);
  --hex-transition: all .2s ease;
  
  /* Colors */
  /*--color-hex-default: red;*/
  --color-hex-hover:   grey;
  
  --color-git:         red;
  

}
#home:hover .yourDivClassThatContainsText {
   display: none;
}

#DivForHoverItem {
    /*height: 250px;
    width: 600px;
     --hex-width: 180px; 
  --hex-between: 40px;*/
}

#HiddenText {
    display: none;
     /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*width: -40%;*/
  margin: 65px;
}
.yourDivClassThatContainsText p{
	/*text-align: center;*/
	margin: 65px;
}
#DivForHoverItem:hover #HiddenText {
    display:block;
}
/* Hexagons */
/*body{
  background-color: black;
}*/
.hexagon-container {
  --color-hex-default:#FFD700 ;
  --color-hex-hover:   grey;
  display: grid;
  grid-template-columns: var(--hex-width) var(--hex-width) var(--hex-width) var(--hex-width);
  grid-auto-rows: calc(var(--hex-width) - 1.87px/2);
  grid-gap: var(--hex-between) var(--hex-between);
  padding-bottom: var(--hex-border);

  /*display: flex;*/
  justify-content: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#addrs{
  font-weight: bold;
  font-size:20px;
}
body{
  background-color:black 
}

.hexagon {
  align-items: center;
  background-color: #FFD700 ;
  cursor: pointer;
  display: flex;


  fill: white;
  height: 85%;
  justify-content: center;
  margin: var(--hex-border) 0;
  position: relative;
  /*transition: var(--hex-transition);*/
  width: var(--hex-width);
  /*padding: 20%;*/
  --color-hex-hover:   grey;
}
/*.hexagon {
  background-color: black;
}
.hexagon #silver{
  background-color: #C0C0C0;
}
.hexagon #gold{
  background-color: #FFD700 ;
}
*/
.hexagon::after,
.hexagon::before {
  border-left: var(--hex-margin) solid transparent;
  border-right: var(--hex-margin) solid transparent;
  content: "";
  left: 50;
  position: absolute;
  transition: var(--hex-transition);
  width: 0;
}
.hexagon::after {
  border-top: var(--hex-border) solid var(--color-hex-default);
  top: 100%;
  width: 0;
   --hex-width: 165px; 
  --hex-between: 10px;
}
.hexagon::before {
  border-bottom: var(--hex-border) solid var(--color-hex-default);
  bottom: 100%;
}
 /* 
 .hexagon #black{
  background-color: red;
 } 
 .hexagon #silver{
  background-color: grey;
 }
*/
.hexagon:hover {
  background-color:#C0C0C0;
  --color-hex-hover:  #C0C0C0;
  
  height: 140px;
  width: 180px;
}
.hexagon:hover::after,
.hexagon:hover::before {
  border-top-color: var(--color-hex-hover);
  border-bottom-color: var(--color-hex-hover);
  --color-hex-hover:  #C0C0C0;
  }
 
.hexagon:nth-child(8n + 5),
.hexagon:nth-child(8n + 6),
.hexagon:nth-child(8n + 7),
.hexagon:nth-child(8n + 8) {
  margin-left: calc(var(--hex-width) / 2 + var(--hex-between) / 2);
}

.hexagon > svg {
  height: 75%;
  /*transition: var(--hex-transition);*/
}


.color-git #black {
  background-color: blue;
}
.color-git::after,
.color-git::before {
  /*border-top-color: var(--color-git);
  border-bottom-color: var(--color-git);*/
}
.color-git:hover {
  /*fill: var(--color-git);*/
  --color-hex-hover:   grey;
}

#team:hover img, #team:active img {
  opacity:1;
}
#team:hover img:hover, #team:active img:active   {
  opacity:0.3;
 
}

.black{
        filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}
#team .hoverable {
  visibility:hidden;
  margin-top: -7em;
  margin-left: 4em;
}

#team > figure:hover > .hoverable {
  visibility:visible;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.fa:hover{
  color:  #C0C0C0;
}

.fa-facebook {
  color: #5050D0;
}

.fa-twitter {
  color: #ADD8E6;
}


.fa-google {
  color: #CB0000;
}

.fa-linkedin {
  color:7AB9F0;
}


.fa-instagram {
  color: pink;
}